:root {
  --primary-color: #4d5ae5;
  --secondary-color: #2e2f42;
  --text-color: #434455;
  --background-color: #fff;
  --hover-color: #404bbf;
}
/* #region Common */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
a {
  color: currentColor;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* #endregion */
/* #region */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.subtitle-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */
/* #region header */
.header-logo .logo-part {
  color: var(--secondary-color);
}
.nav-link {
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.contacts {
  font-style: normal;
}

.contacts-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--hover-color);
}
/* #endregion */
/* #region Hero */
.hero {
  background-color: var(--secondary-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--background-color);
}
.btn {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--background-color);
}
.btn:hover,
.btn:focus {
  background-color: var(--hover-color);
}

/* #endregion */
/* #region Team */
.team {
  background-color: #f4f4fd;
}
.team-item {
  background-color: var(--background-color);
}
/* #endregion */
/* #region footer */
.page-footer {
  background-color: var(--secondary-color);
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion */
